# ============================================================
# ORION DIARIO - CONFIGURACIÓN LOCAL
# Este archivo NO debe subirse a Git.
# ============================================================

# Flask
ORION_FLASK_SECRET_KEY=orion_secret_key_local_2026

# Tesseract OCR
ORION_TESSERACT_PATH=D:\Python\Tesseract-OCR\tesseract.exe

# ============================================================
# PERFIL GENERAL
# ============================================================
APP_CONNECTION_MODE=local


# ============================================================
# SQL SERVER LOCAL DESARROLLO
# Se usa cuando en pantalla seleccionas LOCAL - Pruebas.
# Reemplaza al origen ASTER MySQL local.
# ============================================================
SQLSERVER_SERVER=localhost\SQL2025DEV
SQLSERVER_DATABASE=gestioncomercial_dev
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TRUST_CERTIFICATE=yes

# Opciones:
# SQLSERVER_AUTH=windows
SQLSERVER_AUTH=sql
SQLSERVER_USER=Admin1
SQLSERVER_PASSWORD=


# ============================================================
# ASTER MYSQL / MARIADB REMOTO
# Se mantiene para REMOTO / PRODUCCIÓN.
# ============================================================
ASTER_DB_HOST=10.24.90.101
ASTER_DB_PORT=3306
ASTER_DB_USER=root
ASTER_DB_PASSWORD=astersql
ASTER_DB_NAME=gestioncomercial

ASTER_MYSQL_DB_USUARIOS=usuarios
ASTER_MYSQL_DB_GESTION=gestioncomercial


# ============================================================
# SQL SERVER LOCAL / REMOTO DESTINO
# Para cargas a SQL Server destino de ASTER / ORION / CONSOLIDADO.
# ============================================================
GESTION_SQL_DRIVER=ODBC Driver 18 for SQL Server
GESTION_SQL_LOCAL_SERVER=localhost\SQL2025DEV
GESTION_SQL_REMOTE_SERVER=VC-EIDER

GESTION_SQL_USER=Admin1

# ORION SQL SERVER LOCAL - generado por fix_orion_local_sqlserver_env_bridge.py
ORION_SQL_LOCAL_DRIVER=ODBC Driver 18 for SQL Server
ORION_SQL_LOCAL_SERVER=localhost\SQL2025DEV
ORION_SQL_LOCAL_DATABASE=Orion
ORION_SQL_LOCAL_USERNAME=Admin1
ORION_SQL_LOCAL_PASSWORD=
ORION_SQL_LOCAL_ENCRYPT=yes
ORION_SQL_LOCAL_TRUST_SERVER_CERTIFICATE=yes
GESTION_SQL_DATABASE=gestioncomercial_dev
GESTION_SQL_PASSWORD=

# ORION DATABASE FINAL - generado por fix_orion_database_name_final.py
ORION_CARGAS_SQL_DRIVER=ODBC Driver 18 for SQL Server
ORION_CARGAS_SQL_SERVER=localhost\SQL2025DEV
ORION_CARGAS_SQL_DATABASE=Orion
ORION_CARGAS_SQL_USER=Admin1
ORION_CARGAS_SQL_PASSWORD=
ORION_CARGAS_SQL_ENCRYPT=yes
ORION_CARGAS_SQL_TRUST_SERVER_CERTIFICATE=yes

# ASTER FASE E - LOCAL / REMOTO
ASTER_CONEXION_DEFAULT=local
ASTER_LOCAL_DRIVER=ODBC Driver 18 for SQL Server
ASTER_LOCAL_SERVER=localhost\SQL2025DEV
ASTER_LOCAL_DATABASE=gestioncomercial_dev
ASTER_LOCAL_USER=Admin1
ASTER_LOCAL_PASSWORD=
ASTER_REMOTE_HOST=10.24.90.101
