<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-columns">
            <div class="sidebar-timeline-col">
                {% include 'partials/sidebar/timeline.html' %}
            </div>
            <div class="sidebar-fases-col">
                {% include 'partials/sidebar/fase_ingreso_carpetas.html' %}
                {% include 'partials/sidebar/fase_ocr.html' %}
                {% include 'partials/sidebar/fase_distribuir.html' %}
                {% include 'partials/sidebar/fase_procesamiento.html' %}
                {% include 'partials/sidebar/fase_carga.html' %}
            </div>
        </div>
    </div>
</div>

{% include 'partials/aster/sidebar_aster.html' %}
